    .filter-panel {
        display: flex;
        gap: 12px;
        flex-wrap: wrap;
        align-items: center;
        margin-bottom: 16px;
    }

    mat-form-field {
        min-width: 150px;
    }

    /* [mat-form-field].panel {
        --mdc-protected-button-container-color: #1677ff;
        --mdc-protected-button-label-text-color: white;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: none;
    } */