    .task-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 16px;
    }

    .full-width {
        width: 100%;
    }

    table {
        margin-bottom: 16px;
    }

    a {
        text-decoration: none;
        color: #1976d2;
    }

    .tag-chip {
        border: 1px solid !important;
        --mdc-chip-label-text-color: inherit;
        border-radius: 5px;
    }

    .deadline-overdue {
        color: #d32f2f;
        font-weight: 500;
    }

    .task-list {
        background-color: #ffffff;
        padding: 10px 20px 10px 20px;
        margin-left: 25px;
        border-radius: 15px;
    }

    [mat-raised-button].btn {
        --mdc-protected-button-container-color: #1677ff;
        --mdc-protected-button-label-text-color: white;
        border-radius: 10px;
        font-weight: bold;
        box-shadow: none;
    }

    .switch-buttons {
        display: flex;
        border: 1px solid black;
        border-radius: 8px;
        overflow: hidden;
    }

    .header-actions {
        display: flex;
        align-items: center;
        gap: 20px
    }

    [mat-raised-button].switch-btn {
        margin: 0;
        border: none;
        border-radius: 0;
        font-weight: bolder;
        background-color: #f5f5f5;
        color: #929297;
        width: 80px;
    }

    .switch-btn:first-child {
        border-right: 1px solid black !important;
    }

    .active {
        color: black !important;
        background-color: white !important;
    }

    .mat-mdc-header-row {
        background-color: #f5f5f5 !important;

    }

    .mat-mdc-header-cell {
        border-bottom: none !important;
    }

    table {
        width: 100%;
        border-radius: 15px;
        overflow: hidden;
        border-collapse: separate;
    }

    .mat-mdc-header-cell:first-child {
        border-bottom-left-radius: 15px !important;
    }

    .mat-mdc-header-cell:last-child {
        border-bottom-right-radius: 15px !important;
    }


    :host ::ng-deep .mat-mdc-checkbox.mat-mdc-checkbox-checked .mdc-checkbox__background,
    .mdc-checkbox__ripple .mat-ripple-element {
        background-color: #757575 !important;
        border-color: #757575 !important;
    }


    :host ::ng-deep .mat-mdc-checkbox {
        --mdc-checkbox-selected-focus-icon-color: #757575 !important;
        --mdc-checkbox-selected-hover-icon-color: #757575 !important;
        --mdc-checkbox-selected-icon-color: #757575 !important;
        --mdc-checkbox-selected-pressed-icon-color: #757575 !important;

        --mdc-checkbox-selected-focus-state-layer-color: #757575 !important;
        --mdc-checkbox-selected-hover-state-layer-color: #757575 !important;
        --mdc-checkbox-selected-pressed-state-layer-color: #757575 !important;

    }

    :host ::ng-deep .tag-chip .mdc-evolution-chip__text-label {
        font-size: 15px !important;
    }

    .status-chip-base mat-icon {
        color: inherit !important;
    }

    :host ::ng-deep .mdc-checkbox__background {
        border-width: 1.5px !important;
        border-radius: 3.5px;
        border-color: #dddddd !important;
    }