 .header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     margin-bottom: 16px;
 }

 .full-width {
     width: 100%;
 }

 a {
     text-decoration: none;
     color: #1976d2;
 }